<p>partials works!</p>
<p>partials works!</p>
<p>partials works!</p>

<section class="section section-sm pt-sm">
    <div *ngIf="!farmer.launcher_id" class="container">
        <div class="alert alert-warning alert-delay-1s" role="alert">
            <strong i18n="@@Warning">Warning</strong>: <span i18n>farmer doesn't exist (404).</span>
        </div>
    </div>
    <div *ngIf="farmer.launcher_id" class="container">
        <div *ngIf="farmer.is_pool_member===false" class="alert alert-warning" role="alert">
            <strong i18n="@@Warning">Warning</strong>: <span i18n>farmer doesn't exist, has left and/or has been
                removed.</span>
        </div>
        <h3 class="display-3" i18n>Informacion granjero</h3>
        <table class="table table-sm table-striped table-responsive-lg">
            <tbody>
                <tr>
                    <th i18n>Launcher ID</th>
                    <td colspan="3">{{ farmer.launcher_id }}</td>
                </tr>
                <tr>
                    <th i18n>Nombre</th>
                    <td>
                        <span *ngIf="farmer.name">{{ farmer.name }}</span>
                        <ng-template #notsetTooltip>
                            <a href="https://blog.openchia.io/2021/07/27/howto-set-name.html" target="_blank" i18n>Learn
                                how to set
                                name here.</a>
                        </ng-template>
                        <span *ngIf="!farmer.name">
                            (not set) <i class="fas fa-info-circle" closeDelay="4000" [ngbTooltip]="notsetTooltip"></i>
                        </span>
                    </td>
                    <th i18n="@@FirstLastJoined">Ultima conexion</th>
                    <td>
                        <span *ngIf="farmer.joined_at">{{ farmer.joined_at | date:"medium" }}</span>
                        <span *ngIf="!farmer.joined_at" i18n>
                            (unknown) <i class="fas fa-info-circle"
                                ngbTooltip="Unknown because this user arrived before the integration of this function in pool."></i>
                        </span>
                        /
                        <span *ngIf="farmer.joined_last_at">{{ farmer.joined_last_at | date:"medium" }}</span>
                        <span *ngIf="!farmer.joined_last_at" i18n>
                            (unknown) <i class="fas fa-info-circle"
                                ngbTooltip="Unknown because this user arrived before the integration of this function in pool."></i>
                        </span>
                    </td>
                </tr>
                <tr>
                    <th i18n="@@Difficulty">Dificultad</th>
                    <td>{{ farmer.difficulty }}</td>
                    <th><span i18n>Tamaño estimado</span>&nbsp;<i class="fas fa-info-circle"
                            ngbTooltip="Be aware this is a rough estimate and will vary based on the partials sent for the last 24 hours! This is by no means a representation of your actual farm size."></i>
                    </th>
                    <td>{{ farmer.estimated_size || 0 | filesize:{"base": 2, "standard": "iec" } }} (<span i18n>{{
                            farmer.share_pplns * 100 | number:"2.3" }}% of pool</span>)</td>
                </tr>
                <tr>
                    <th i18n>Puntos (PPLNS)</th>
                    <td>{{ farmer.points_pplns }}</td>
                    <th i18n>Effective Fee</th>
                    <td>{{ farmer.fee.final * 100 | number:".4"}}%</td>
                </tr>
                <tr>
                    <th><span i18n>Tiempo estimado para ganar (ETW)</span>&nbsp;
                        <ng-template #etwTooltip>
                            <span i18n>Based on farmer estimated size and netspace. This value may vary
                                significantly.</span>
                        </ng-template>
                        <i class="fas fa-info-circle" [ngbTooltip]="etwTooltip"></i>
                    </th>
                    <td *ngIf="farmer.current_etw">{{ humanize(farmer.current_etw * 1000) }}</td>
                    <td *ngIf="!farmer.current_etw" i18n>Unknown</td>
                    <th><span i18n>Esfuerzo actual</span>&nbsp;
                        <ng-template #currentEffortTooltip>
                            <span i18n>Estimate based on last block farmed and current estimated time to win. If the
                                farmer never
                                farmed
                                one block then the creation date of the Plot NFT is used as a starting point.</span>
                        </ng-template>
                        <i class="fas fa-info-circle" [ngbTooltip]="currentEffortTooltip"></i>
                    </th>
                    <td *ngIf="(farmer.current_effort || 0) >= 0">{{ farmer.current_effort | number }}%</td>
                    <td *ngIf="farmer.current_effort == null" i18n>Unknown</td>
                </tr>
                <tr>
                    <th scope="col"><span i18n="@@EstimatedRewardDay">Estimated Reward</span>
                        <ng-template #estimatedrewardDayTooltip>
                            <span i18n>Profitability based on blocks farmed on last 30 days, based on your farm
                                space.</span>
                        </ng-template>
                        &nbsp;<i class="fas fa-info-circle" closeDelay="4000"
                            [ngbTooltip]="estimatedrewardDayTooltip"></i>
                    </th>
                    <td>
                        {{ xch_tb_month * (farmer.estimated_size / 1024 / 1024 / 1024 / 1024) | number:".4" }} XCH /day
                        (${{ xch_current_price_usd * (xch_tb_month * (farmer.estimated_size / 1024 / 1024 / 1024 /
                        1024)) |
                        number:".2" }})
                    </td>
                    <td>
                        {{ xch_tb_month * (farmer.estimated_size / 1024 / 1024 / 1024 / 1024) * 7 | number:".4" }} XCH /
                        week
                        (${{ xch_current_price_usd * (xch_tb_month * (farmer.estimated_size / 1024 / 1024 / 1024 / 1024)
                        * 7) |
                        number:".2" }})
                    </td>
                    <td>
                        {{ xch_tb_month * (farmer.estimated_size / 1024 / 1024 / 1024 / 1024) * 31 | number:".4" }} XCH
                        / month
                        (${{ xch_current_price_usd * (xch_tb_month * (farmer.estimated_size / 1024 / 1024 / 1024 / 1024)
                        * 31) |
                        number:".2" }})
                    </td>
                </tr>
            </tbody>
        </table>
        <br />
        <ul ngbNav #nav="ngbNav" [(activeId)]="tabActive" class="nav-tabs navbar-inverse">

            <!-- Partials -->
            <li [ngbNavItem]="1">
                <a ngbNavLink><i class="fa fa-industry"></i>&nbsp;<span i18n="@@Partials">Parcelas</span></a>
                <ng-template ngbNavContent>
                    <div class="row justify-content-center">
                        <ngx-charts-area-chart [scheme]="partialsChartColors" [legend]="false" [showXAxisLabel]="false"
                            [showYAxisLabel]="true" [xAxis]="true" [yAxis]="true" [xAxisLabel]="partialsXAxisLabel"
                            [yAxisLabel]="partialsYAxisLabel" [timeline]="false" [results]="partialsData"
                            [xAxisTickFormatting]="partialsXAxisFormat" [xAxisTicks]="partialsXTicks"
                            [gradient]="partialsGradient">
                        </ngx-charts-area-chart>
                    </div>
                    <br />
                    <div class="row justify-content-center">
                        <div class="col-lg-12">
                            <div class="row row-grid">
                                <div class="col-lg-2 justify-content-center">
                                    <div class="card card-lift shadow border-0">
                                        <div class="card-body py-3 text-center text-uppercase">
                                            <span class="text-primary"><span
                                                    i18n="@@Partials">Parcelas</span><br />(<span i18n="@@Hrs24">24
                                                    horas</span>)</span>
                                            <p class="display-3">{{ partialsCollectionSize }}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 justify-content-center">
                                    <div class="card card-lift shadow border-0">
                                        <div class="card-body py-3 text-center text-uppercase">
                                            <span class="text-primary"><span i18n="@@Points">Puntos</span><br />(<span
                                                    i18n="@@Hrs24">24
                                                    horas</span>)</span>
                                            <p class="display-3">{{ partialsPoints }}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 justify-content-center">
                                    <div class="card card-lift shadow border-0">
                                        <div class="card-body py-3 text-center text-uppercase">
                                            <span class="text-primary"><span i18n="@@SuccessfulPartials_preline"
                                                    style="word-spacing: 300px">Parcelas exitosas</span></span>
                                            <p class="display-3">{{ partialsSuccessful }}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 justify-content-center">
                                    <div class="card card-lift shadow border-0">
                                        <div class="card-body py-3 text-center text-uppercase">
                                            <span class="text-warning"><span i18n="@@FailedPartials_preline"
                                                    style="word-spacing: 300px">Parcelas fallidas</span></span>
                                            <p class="display-3">{{ partialsFailed }}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 justify-content-center">
                                    <div class="card card-lift shadow border-0">
                                        <div class="card-body py-3 text-center text-uppercase">
                                            <span class="text-info"><span i18n="@@Partials">Desempeño</span><br /><span
                                                    i18n="@@Performance">de parcelas</span></span>
                                            <p class="display-3"
                                                ngbTooltip="{{ 100 - ( partialsFailed * 100 / partialsSuccessful ) | number:'2.6' }}%">
                                                {{ 100 -
                                                ( partialsFailed * 100 / partialsSuccessful ) | number:'2.1-1' }}%</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row justify-content-left">
                        <div class="col-lg-12">
                            <h4 class="display-3" i18n>Partials</h4>
                        </div>
                    </div>
                    <br />
                    <table class="table table-sm table-striped table-responsive-lg">
                        <thead>
                            <tr>
                                <th scope="col" i18n="@@Date">Fecha</th>
                                <th scope="col" i18n="@@Difficulty">Dificultad</th>
                                <th scope="col" i18n>Harvester ID</th>
                                <th scope="col" i18n>Grafica ID</th>
                                <th scope="col" i18n>Estado</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="partialsTable">
                            <tr *ngFor="let partial of partialsFiltered | slice: (partialsPage-1) * partialsPageSize : partialsPage * partialsPageSize"
                                [class]="(partial.error && !failedPartials) ? 'partial-error-row' : ''">
                                <td>{{ partial.timestamp * 1000 | date:"medium" }}</td>
                                <td>{{ partial.difficulty }}</td>
                                <td>
                                    <i class="fas fa-copy fa-copy-farmer"
                                        (click)="copyToClipboard(partial.harvester_id)" ngbTooltip="Copy Harvester ID"
                                        placement="top" container="body"></i>
                                    <span ngbTooltip="{{ partial.harvester_id }}" placement="top" container="body">
                                        {{ (partial.harvester_id | slice:0:20) }}
                                    </span>
                                </td>
                                <td>
                                    <i class="fas fa-copy fa-copy-farmer" (click)="copyToClipboard(partial.plot_id)"
                                        ngbTooltip="Copy Plot ID" placement="top" container="body"></i>
                                    <span ngbTooltip="{{ partial.plot_id }}" placement="top" container="body">
                                        {{ (partial.plot_id | slice:0:20) }}
                                    </span>
                                </td>
                                <td *ngIf="partial.error">{{ partial.error }} <a href="javascript:void();"
                                        (click)="showPartialError(content)"><i
                                            class="fas fa-info-circle fa-partial-error"></i></a>
                                <td *ngIf="!partial.error"><i class="fas fa-check fa-check-farmer"></i></td>
                            </tr>
                            <tr *ngIf="partialsFiltered.length == 0">
                                <td colspan="5" i18n>No partials found!</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-between p-2">
                        <ngb-pagination [collectionSize]="partialsFiltered.length" [(page)]="partialsPage"
                            [pageSize]="partialsPageSize">
                        </ngb-pagination>
                    </div>
                </ng-template>
                <ng-template #content let-modal>
                    <div class="modal-header">
                        <h4 class="modal-title">Partial error details</h4>
                        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <table class="table table-sm table-striped table-responsive-lg">
                            <thead>
                                <tr>
                                    <th scope="col" i18n>Error</th>
                                    <th scope="col" i18n>Details</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>INVALID_TOO_LATE</td>
                                    <td i18n>
                                        Farmer took too long to validate the partial proof of space. Make sure your
                                        proof of space lookups
                                        are fast,
                                        and network connectivity is good. Response must happen in less than 25 seconds.
                                        Your NAS or network
                                        farming
                                        can be an issue. This happens when your disks are in use (plotting) or when
                                        waking up.
                                    </td>
                                </tr>
                                <tr>
                                    <td>DOUBLE_SIGNAGE_POINT</td>
                                    <td i18n>Same partial proof was sent more than once. Can happen if there are
                                        duplicated plots being
                                        harvested or a signage point was advertised twice in the blockchain. Resolution:
                                        Verify the same
                                        plot id is not present in different harvesters. If you see this only every once
                                        in a while you can
                                        ignore this error.</td>
                                </tr>
                                <tr>
                                    <td>INVALID_SIGNAGE_OR_EOS</td>
                                    <td i18n>Signage point is invalid or was not found in pool's node blockchain.
                                        Resolution: make sure
                                        your node is synced and connected to enough peers.</td>
                                </tr>
                                <tr>
                                    <td>PROOF_NOT_GOOD_ENOUGH</td>
                                    <td i18n>The proof sent is not good enough for the current difficulty of the farmer.
                                        It may happen
                                        when there is a difficulty change in the pool and there were partials already in
                                        the queue to be
                                        processed. Resolution: No action needed, it should correct itself. If the
                                        problem persists contact a
                                        pool operator.</td>
                                </tr>
                                <tr>
                                    <td>SINGLETON_NOT_POOL</td>
                                    <td i18n>Plot NFT (pool smart contract) no longer in the pool. Farmer left the pool.
                                        Resolution: Leave
                                        and rejoin the pool.</td>
                                </tr>
                                <tr>
                                    <td>INVALID_SINGLETON</td>
                                    <td i18n>The Plot NFT is in an invalid state. Resolution: Leave and rejoin the pool.
                                    </td>
                                </tr>
                                <tr>
                                    <td>SP_REVERTED</td>
                                    <td i18n>Can happen when the node is on high load with block propagation delays,
                                        resulting in forked
                                        sidechains. Resolution: Make sure you are running the latest Chia version and
                                        that your computer has
                                        the minimal requirements to run a full node.</td>
                                </tr>
                                <tr>
                                    <td>EOS_REVERTED</td>
                                    <td i18n>Same as SP_REVERTED. Can happen when the node is on high load with block
                                        propagation delays,
                                        resulting in forked sidechains. Resolution: Make sure you are running the latest
                                        Chia version and
                                        that your computer has the minimal requirements to run a full node.</td>
                                </tr>
                                <tr>
                                    <td>INVALID_POOL_CONTRACT</td>
                                    <td i18n>The pool contract address for the partial does not match the value in the
                                        pool database.
                                        Resolution: Leave and rejoin the pool. If the issue persists contact a pool
                                        operator.</td>
                                </tr>
                                <tr>
                                    <td>INVALID_PROOF_OF_SPACE</td>
                                    <td i18n>The partial proof is not valid. Resolution: Make sure your are running the
                                        latest version of
                                        Chia.</td>
                                </tr>
                                <tr>
                                    <td>INVALID_AGG_SIGNATURE</td>
                                    <td i18n>The signature of the farmer does not match the farmer in the database.
                                        Resolution: Stop the
                                        farmer, remove all pool_list entries in config.yaml file and start the farmer
                                        again. If the issue
                                        persists leave and rejoin the pool.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
                    </div>
                </ng-template>
            </li>
        </ul>
        <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </div>
</section>