<main>
  <section class="input-section">
    <div *ngIf="!isUserAuthenticated" class="input-container">
      <h1 class="title-login title-text">Inicia sesión</h1>
      <input #searchinput type="text" placeholder="Introduce tu Launcher ID..." class="form-control"
        (keydown.enter)="searchFarmer()" />
      <button class="btn btn-primary login-button" (click)="searchFarmer()">Enviar</button>
    </div>
  </section>
  <!-- Join pool -->
  <section class="pricing-5" id="pricing-6">
    <div class="pt-5 container join-main-container">
      <div class="row join-main-container-inner">
        <div class="d-flex justify-content-center justify-content-bottom flex-column col-md-4 text-center">
          <h3 class="display-3 mt-3 title-text" i18n>Pool-joseando.net 🚀</h3>
          <p class="lead mt-0 description-text" i18n>
            La pool con el mejor mantenimiento y soporte de toda España!
            Visita tambien mi web personal <span
              class="text-primary link-text height-value">https://xch-joseando.tech/</span></p>

        </div>
        <div class="pool-description-container">
          <div class="pool-description">
            <h1 class="title-text">"Pool ESPAÑOL 100%"</h1>
            <p class="description-text">Con 0% de Fee y como estais acostumbrados en JOSEANDO.NET con el mejor Soporte
              24/7 en Español.</p>
          </div>
          <div class="pool-urls">
            <p class="title-text">URL para entrar al POOL</p>
            <p class="description-text height-value">https://EU.pool-joseando.net</p>
            <p class="description-text height-value">https://USA.pool-joseando.net <span
                class="offline-text">(offline)</span></p>
            <p class="description-text height-value">https://ASIA.pool-joseando.net <span
                class="offline-text">(offline)</span></p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <br /><br />



  <!-- Pool info -->

  <section>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="row row-grid text-center">
            <div class="col-lg-2">
              <div class="card card-lift shadow box-container">
                <div class="card-body py-3 box-container">
                  <h6 class="text-primary text-uppercase box-title-text" i18n>Precio XCH</h6>
                  <p class="description mt-3 box-inner-text">{{ xch_current_price['eur'] }}€</p>
                </div>
              </div>
            </div>
            <div class="col-lg-2">
              <div class="card card-lift shadow border-0 box-container">
                <div class="card-body py-3 box-container">
                  <h6 class="text-primary text-uppercase box-title-text" i18n>Espacio de la red</h6>
                  <p class="description mt-3 box-inner-text">{{ pool_space | filesize:{"base": 2, "standard": "iec"} }}
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-2">
              <div class="card card-lift shadow border-0 box-container">
                <div class="card-body py-3 box-container">
                  <h6 class="text-success text-uppercase box-title-text" i18n>ETW</h6>
                  <p class="description mt-3 box-inner-text" i18n>{{ estimate_win }}</p>
                </div>
              </div>
            </div>
            <div class="col-lg-2">
              <div class="card card-lift shadow border-0 box-container">
                <div class="card-body py-3 box-container">
                  <h6 class="text-warning text-uppercase box-title-text" i18n>Bloques</h6>
                  <p class="description mt-3 box-inner-text" i18n>{{ rewards_blocks }} farmed</p>
                </div>
              </div>
            </div>
            <div class="col-lg-2">
              <div class="card card-lift shadow border-0 box-container">
                <div class="card-body py-3 box-container">
                  <h6 class="text-info text-uppercase box-title-text" i18n="@@Farmers">Granjeros</h6>
                  <p class="description mt-3 box-inner-text " i18n>{{ farmers }} total</p>
                </div>
              </div>
            </div>
            <div class="col-lg-2">
              <div class="card card-lift shadow border-0 box-container">
                <div class="card-body py-3 box-container">
                  <h6 class="text-info text-uppercase box-title-text" i18n>Espacio total</h6>
                  <p class="description mt-3 box-inner-text">{{ netspace | filesize:{"base": 2, "standard": "iec"} }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-12 mt-3">
          <div class="row row-grid text-center">
            <div class="col-lg-3">
              <div class="card card-lift shadow border-0 box-container">
                <div class="card-body py-3 box-container">
                  <h6 class="text-primary text-uppercase box-title-text" i18n="@@CurrentEffort">Esfuerzo actual</h6>
                  <p class="description mt-3 box-inner-text">{{ current_effort | number:".0-0" }}%</p>
                </div>
              </div>
            </div>
            <div class="col-lg-2">
              <div class="card card-lift shadow border-0 box-container">
                <div class="card-body py-3 box-container">
                  <h6 class="text-primary text-uppercase box-title-text"><span i18n="@@Effort">Esfuerzo</span>
                    <ng-template #effortTooltip>
                      <span i18n>Esfuerzo promedio para farmear un bloque basado en los ultimos 30 dias
                      </span>
                    </ng-template>
                    &nbsp;<i class="fas fa-info-circle" closeDelay="4000" [ngbTooltip]="effortTooltip"></i>
                  </h6>
                  <p class="description mt-3 box-inner-text">{{ average_effort | number:".0-0" }}%</p>
                </div>
              </div>
            </div>
            <div class="col-lg-2">
              <div class="card card-lift shadow border-0 box-container">
                <div class="card-body py-3 box-container">
                  <h6 class="text-primary text-uppercase box-title-text" i18n>Ultimo bloque</h6>
                  <p class="description mt-3 box-inner-text">{{ time_since_last_win }}</p>
                </div>
              </div>
            </div>
            <div class="col-lg-2">
              <div class="card card-lift shadow border-0 box-container">
                <div class="card-body py-3 box-container">
                  <h6 class="text-primary text-uppercase box-title-text" i18n="@@Rewards">Recompensas</h6>
                  <p class="description mt-3 box-inner-text">{{ rewards_amount / 1000000000000 }} XCH</p>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="card card-lift shadow border-0 box-container ">
                <div class="card-body py-3 box-container">
                  <h6 class="text-primary text-uppercase box-title-text"><span
                      i18n="@@Profitability">Rentabilidad</span>
                    <ng-template #profTooltip>
                      <span i18n>Rentabilidad basada en los bloques farmeados en los ultimos 30 dias. El valor
                        (XCH) estimado que un granjeor conseguiria por TiB por dia</span>
                    </ng-template>
                    &nbsp;<i class="fas fa-info-circle" closeDelay="4000" [ngbTooltip]="profTooltip"></i>
                  </h6>
                  <p class="description mt-3 box-inner-text">{{ xch_tb_month | number:".8"}} XCH/TiB/day</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>



  <!-- Bloques -->
  <section>
    <div class="container">
      <h3 class="display-3 title-text" i18n>Bloques encontrados</h3>
      <table class="table table-sm table-striped table-responsive-lg">
        <thead>
          <tr>
            <th scope="col" i18n="@@Height" class="title-text">Altura</th>
            <th scope="col" i18n="@@Date" class="title-text">Fechas</th>
            <th scope="col" i18n="@@Farmer" class="title-text">Farmer</th>
            <th scope="col" class="title-text"><span i18n="@@Poolspace">Espacio pool</span>
              <ng-template #poolspaceTooltip>
                <span i18n>Espacio de la pool cuando se gana un bloque.</span>
              </ng-template>
              &nbsp;<i class="fas fa-info-circle" closeDelay="4000" [ngbTooltip]="poolspaceTooltip"></i>
            </th>
            <th scope="col"><span i18n="@@PoolEffort" class="title-text">Esfuerzo pool</span>
              <ng-template #pooleffortTooltip>
                <span i18n>Esfuerzo estimado para ganar un bloque</span>
              </ng-template>
              &nbsp;<i class="fas fa-info-circle title-text" closeDelay="4000" [ngbTooltip]="pooleffortTooltip"></i>
            </th>
          </tr>
        </thead>
        <tbody *ngIf="(blocks$ | async) as blocks;">
          <tr *ngFor="let block of blocks ">
            <td class="height-value">{{
              block.farmed_height }}
            </td>
            <td class="description-text">{{ block.timestamp * 1000 | date:"medium" }}</td>
            <td>
              <a class="description-text">
                {{ block.farmed_by.name || block.farmed_by.launcher_id }}
              </a>
            </td>
            <td class="description-text">{{ block.pool_space | filesize:{"base": 2, "standard": "iec"} }}</td>
            <td>
              <span *ngIf="block.luck == -1" i18n="@@Unknown" class="description-text">Unknown</span>
              <span *ngIf="block.luck != -1" class="description-text">
                {{ block.luck }}% (
                <span *ngIf="block.luck < 80" i18n="@@Lucky" class="description-text">Lucky</span>
                <span *ngIf="block.luck >= 80 && block.luck <= 120" i18n="@@Average"
                  class="description-text">Average</span>
                <span *ngIf="block.luck > 120" i18n="@@Unlucky" class="description-text">Unlucky</span>
                )
              </span>
            </td>
          </tr>
          <tr *ngIf="blocks.length == 0">
            <td colspan="5" i18n class="description-text">No blocks found!</td>
          </tr>
        </tbody>
      </table>
      <ngb-pagination [collectionSize]="blocksCollectionSize" [(page)]="blocksPage" [pageSize]="blocksPageSize"
        [maxSize]="10" [rotate]="true" [boundaryLinks]="true" (pageChange)="refreshBlocks()">
      </ngb-pagination>
    </div>
  </section>




  <!-- Rewards -->
  <section class="section section-sm pt-sm-0">
    <div class="container">
      <h3 class="display-3 title-text" i18n>Recompensas</h3>
      <table class="table table-sm table-striped table-responsive-lg">
        <thead>
          <tr>
            <th scope="col" i18n="@@ID" class="title-text">ID</th>
            <th scope="col" i18n class="title-text">Fechas</th>
            <th scope="col" i18n="@@Amount" class="title-text">Cantidad</th>
          </tr>
        </thead>
        <tbody *ngIf="(payouts$ | async) as payouts;">
          <tr *ngFor="let payout of payouts; let i = index">
            <td class="height-value">
              {{ payout.id }}

            </td>
            <td class="description-text">{{ payout.datetime | date:"medium" }}</td>
            <td class="description-text">{{ payout.amount / 1000000000000 | number }} XCH</td>
          </tr>
          <tr *ngIf="payouts.length == 0">
            <td colspan="3" i18n="@@NoRewards">No rewards found!</td>
          </tr>
        </tbody>
      </table>
      <ngb-pagination [collectionSize]="payoutsCollectionSize" [(page)]="payoutsPage" [pageSize]="payoutsPageSize"
        [maxSize]="10" [rotate]="true" [boundaryLinks]="true" (pageChange)="refreshPayouts()">
      </ngb-pagination>
    </div>
  </section>

  <!-- Wallets -->

  <section class="section section-sm pt-lg-0" *ngIf="true">
    <div class="container">
      <h3 class="display-3 title-text" i18n="@@PoolWallets">Wallets de la pool</h3>
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div *ngIf="pool_wallets.length == 0" class="row row-grid text-center">
            <div class="col-lg-12">
              <div class="card card-lift shadow border-0">
                <div class="card-body py-3">
                  <p class="pool-wallet-description description mt-3" i18n>No se han encontrado ninguna Wallet</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row row-grid text-center">
            <div class="col-lg-9">
              <div class="card card-lift shadow border-0 box-container">
                <div class="card-body py-3 box-container">
                  <div class="pool-wallet-banner wallet-title-address "><span i18n="@@Address">Pagos</span></div>
                  <p class="pool-wallet-description description mt-3">
                    <a href="https://www.spacescan.io/xch/address/" target="_blank">
                      xch18cs70hkkxe4pt2q22qkmvuk9dfpym5dxp5x33hrmpyaw6wy6u9nsd4z50q
                    </a>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-9 ">
              <div class="card card-lift shadow border-0 box-container wallet-container">
                <div class="card-body py-3 box-container">
                  <div class="pool-wallet-banner wallet-title-address "><span i18n="@@Address">Fees</span></div>
                  <p class="pool-wallet-description description mt-3">
                    <a href="https://www.spacescan.io/xch/address/" target="_blank">
                      xch1qp7385zccgxzpf22rg4udu844enwek6ha5x9pa8qqrkkzn5twz9q8eqn83
                    </a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Discount promote -->
  <section class="section section-sm section-shaped who-am-section">
    <div class="shape shape-style-1 shape-default"></div>
    <div class="container py-sm">
      <div class="row row-grid justify-content-between align-items-center">
        <div class="col-lg-4 mb-lg-auto">
          <div class="card-landing align-items-right">
            <img src="../../assets/img/brand/m.jpg" class="landing-about-img" />
          </div>
        </div>
        <div class="col-lg-8 text-center">
          <h3 class="display-3 text-white text-shadow" i18n>
            ¿Quien soy?
          </h3>
          <p class="text-white" i18n>Apasionado por el proyecto y como no, ¡Farmer!</p>
          <p class="text-white" i18n>Y no, no soy un "Bot".</p>
          <p class="text-white" i18n>Cuantos no lo habéis pensado o dicho?</p>
          <p class="lead text-white" i18n>Soporte 24/7 sobre el ecosistema Chia.</p>

        </div>
      </div>
    </div>
  </section>
</main>