<main>
    <div class="container">
        <div class="title-container">
            <h1 class="title-container-text title-text">Tu espacio</h1>
        </div>
        <ul ngbNav #nav="ngbNav" [(activeId)]="tabActive" class="nav-tabs navbar-inverse">

            <li [ngbNavItem]="3">
                <div class="row justify-content-center">
                    <ngx-charts-area-chart [showXAxisLabel]="false" [showYAxisLabel]="true" [xAxis]="false"
                        [timeline]="false" [yAxis]="true" [xAxisLabel]="sizeXAxisLabel" [yAxisLabel]="sizeYAxisLabel"
                        [scheme]="sizeChartColors" [yAxisTickFormatting]="spaceFormatAxisY" [results]="sizeData"
                        [gradient]="true" [legend]="sizeLegend" [legendPosition]="sizeLegendPosition"
                        [legendTitle]="sizeLegendTitle">
                        <ng-template #seriesTooltipTemplate let-model="model">
                            <div *ngFor="let item of model">
                                {{ item.label }}
                            </div>
                            {{ model[0].name }}
                        </ng-template>
                    </ngx-charts-area-chart>
                </div>
            </li>
        </ul>
    </div>
</main>