<main>
    <section class="section section-sm pt-sm my-section">
        <div class="container">

            <div class="title-container">
                <h1 class="title-container-text title-text">
                    Tus recompensas
                </h1>
            </div>
            <ul ngbNav #nav="ngbNav" [(activeId)]="tabActive" class="nav-tabs navbar-inverse">

                <li [ngbNavItem]="4" class="list-items">
                    <div class="row justify-content-center table-container">
                        <div class="col-lg-4">
                            <br />
                            <table class="table table-sm table-striped table-responsive-lg">
                                <tbody>
                                    <tr>
                                        <th scope="col" i18n class="title-text">Ultimas 24h</th>
                                        <td class="description-text">
                                            {{ farmer?.rewards?.last_24h / 1000000000000 }} XCH
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="col" i18n class="title-text">Hoy</th>
                                        <td class="description-text">{{ farmer?.rewards?.today / 1000000000000 }} XCH
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="col" i18n class="title-text">Ayer</th>
                                        <td class="description-text">{{ farmer?.rewards?.yesterday / 1000000000000 }}
                                            XCH
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="col" i18n class="title-text">Ultimos 7 dias</th>
                                        <td class="description-text">{{ farmer?.rewards?.last_7d / 1000000000000 }} XCH
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="col" i18n class="title-text">Ultimos 30 dias</th>
                                        <td class="description-text">{{ farmer?.rewards?.last_30d / 1000000000000 }} XCH
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <span i18n class="description-text">* Las fechas de arriba vienen dadas en sistema horario
                                UTC</span>
                        </div>
                        <div class="col-8 test " style="display: block;" #rewardsContainerRef>
                            <ngx-charts-bar-vertical [view]="[rewardsContainerRef.offsetWidth, 280]"
                                [showXAxisLabel]="false" [showYAxisLabel]="true" [xAxis]="false" [yAxis]="true"
                                [xAxisLabel]="rewardsXAxisLabel" [yAxisLabel]="rewardsYAxisLabel"
                                [scheme]="rewardsChartColors" [yAxisTickFormatting]="rewardsFormatAxisY"
                                [results]="rewardsData" [gradient]="true" [legend]="false">

                            </ngx-charts-bar-vertical>
                        </div>

                    </div>
                    <br />
                    <table class="table table-sm table-striped">
                        <thead>
                            <tr>
                                <th scope="col" i18n="@@Date" class="title-text">Fecha</th>
                                <th scope="col" i18n="@@Blocks" class="title-text">Bloques</th>
                                <th scope="col" i18n="@@Amount" class="title-text">Cantidad</th>
                                <th scope="col" i18n="@@Paid" class="title-text">Pagos</th>
                                <th scope="col" i18n="@@RewardID" class="title-text">Recompensa ID</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="(payoutaddrs$ | async) as payoutaddrs;">
                            <tr *ngFor="let payoutaddr of payoutaddrs; let i = index">
                                <td class="height-value">{{ payoutaddr.payout.datetime | date:"medium" }}</td>
                                <td><span *ngFor="let block of payoutaddr.payout.blocks" class="description-text">#{{
                                        block.farmed_height}}
                                    </span>
                                </td>
                                <td class="description-text">{{ payoutaddr.amount / 1000000000000 }} XCH</td>
                                <td>
                                    <span *ngIf="payoutaddr.transaction && payoutaddr.transaction.confirmed_block_index"
                                        i18n class="description-text">Yes</span>
                                    <span
                                        *ngIf="payoutaddr.transaction && !payoutaddr.transaction.confirmed_block_index"
                                        i18n class="description-text">Confirming</span>
                                    <span *ngIf="!payoutaddr.transaction" i18n>Pending</span>
                                </td>
                                <td class="tick-text">{{ payoutaddr.payout.id
                                    }}
                                </td>
                            </tr>
                            <tr *ngIf="payoutaddrs.length == 0">
                                <td colspan="7" i18n="@@NoRewards" class="description-text">No se han encontrado
                                    recompensas!</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-between p-2">
                        <ngb-pagination [collectionSize]="payoutsCollectionSize" [(page)]="payoutsPage"
                            [pageSize]="payoutsPageSize" (pageChange)="refreshPayouts()">
                        </ngb-pagination>
                    </div>
                </li>
            </ul>
        </div>
    </section>
</main>