<nav id="navbar-main"
  class="navbar navbar-main navbar-expand-lg navbar-transparent headroom headroom--top headroom--pinned bg-white">
  <div class="container navban-container">

    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
      [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse bg-white" id="navbar_global" [ngbCollapse]="isCollapsed">
      <div class="navbar-collapse-header bg-white">
        <div class="row">
          <div class="col-12 collapse-close">
            <button type="button" class="navbar-toggler" (click)="isCollapsed = !isCollapsed"
              [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
      <div class="navbar-img-container">
        <a class="navbar-brand-link" [routerLink]="['/']">
          <img src="./assets/img/brand/logo-joseando.png" class="navbar-img">
          <span class="navbar-name">Pool-joseando.net</span>
        </a>
      </div>
      <ul class="navbar-options navbar-nav navbar-nav-hover align-items-lg-center">
        <li class="nav-item">
          <a class="nav-link" role="button" [routerLink]="['/']">
            <i class="ni ni-ui-04 d-lg-none"></i>
            <span class="nav-link-inner" i18n="@@Explorer">Pool</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" role="button" [routerLink]="['/partials']">
            <i class="ni ni-ui-04 d-lg-none"></i>
            <span class="nav-link-inner" i18n="@@Explorer">Parciales</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" role="button" [routerLink]="['/space']">
            <i class="ni ni-ui-04 d-lg-none"></i>
            <span class="nav-link-inner" i18n="@@Explorer">Tu espacio</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" role="button" [routerLink]="['/blocks']">
            <i class="ni ni-ui-04 d-lg-none"></i>
            <span class="nav-link-inner" i18n="@@Explorer">Tus bloques</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" role="button" [routerLink]="['/payments']">
            <i class="ni ni-ui-04 d-lg-none"></i>
            <span class="nav-link-inner" i18n="@@Explorer">Pagos</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" role="button" [routerLink]="['/rewards']">
            <span class="nav-link-inner--text" i18n="@@Fees">Ganancias</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" role="button" [routerLink]="['/harvesters']">
            <i class="ni ni-ui-04 d-lg-none"></i>
            <span class="nav-link-inner--text" i18n="@@Stats">Harvesters</span>
          </a>
        </li>

      </ul>
      <ul class="navbar-nav navbar-nav-hover align-items-lg-center ml-lg-auto">

        <li class="nav-item d-none d-lg-block ml-lg-4">
          <a class="login-btn btn btn-neutral btn-icon" [routerLink]="['/join']">
            <span class="nav-link-inner--text-login" i18n="@@JoinPool">Entrar</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>