<nav id="navbar-main"
  class="navbar navbar-main navbar-expand-lg navbar-transparent headroom headroom--top headroom--pinned bg-white">
  <div class="container navban-container">

    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
      [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse bg-white" id="navbar_global" [ngbCollapse]="isCollapsed">
      <div class="navbar-collapse-header bg-white">
        <div class="row">
          <div class="col-12 collapse-close">
            <button type="button" class="navbar-toggler" (click)="isCollapsed = !isCollapsed"
              [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
      <div class="navbar-img-container">
        <a class="navbar-brand-link" [routerLink]="['/']">
          <img src="./assets/img/brand/logo-joseando.png" class="navbar-img">
        </a>
      </div>
      <ul class="navbar-options navbar-nav navbar-nav-hover align-items-lg-center" *ngIf="isNavbarVisible">
        <li class="nav-item">
          <a class="nav-link" role="button" [routerLink]="['/']">
            <i class="ni ni-ui-04 d-lg-none"></i>
            <span class="nav-link-inner" i18n="@@Explorer">Pool</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" role="button" [routerLink]="['/partials']">
            <i class="ni ni-ui-04 d-lg-none"></i>
            <span class="nav-link-inner" i18n="@@Explorer">Parciales</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" role="button" [routerLink]="['/space']">
            <i class="ni ni-ui-04 d-lg-none"></i>
            <span class="nav-link-inner" i18n="@@Explorer">Tu espacio</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" role="button" [routerLink]="['/blocks']">
            <i class="ni ni-ui-04 d-lg-none"></i>
            <span class="nav-link-inner" i18n="@@Explorer">Tus bloques</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" role="button" [routerLink]="['/payments']">
            <i class="ni ni-ui-04 d-lg-none"></i>
            <span class="nav-link-inner" i18n="@@Explorer">Pagos</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" role="button" [routerLink]="['/rewards']">
            <span class="nav-link-inner--text" i18n="@@Fees">Ganancias</span>
          </a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" role="button" [routerLink]="['/harvesters']">
            <i class="ni ni-ui-04 d-lg-none"></i>
            <span class="nav-link-inner--text" i18n="@@Stats">Harvesters</span>
          </a>
        </li> -->

      </ul>

      <ul class="navbar-nav navbar-nav-hover align-items-lg-center ml-lg-auto">
        <li class="nav-item">
          <a class="nav-link nav-link-icon" href="https://www.youtube.com/channel/UC6bOGocw1dXhJHQ8JAxncHA"
            target="_blank" data-toggle="tooltip" title="Visita el canal">
            <i class="fab fa-youtube youtube-icon"></i>
            <span class="nav-link-inner--text d-lg-none  ">YouTube</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-icon" href="https://discord.gg/2vGvtZhRrT" target="_blank" data-toggle="tooltip"
            title="Conoce nuestra comunidad">
            <i class="fab fa-discord discord-icon"></i>
            <span class="nav-link-inner--text d-lg-none">Discord</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-icon" href="https://twitter.com/Joseando16" target="_blank" data-toggle="tooltip"
            title="Sigueme en Twitter">
            <i class="fab fa-twitter twitter-icon "></i>
            <span class="nav-link-inner--text d-lg-none">Twitter</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-icon" href="https://www.reddit.com/user/joseando_net/" target="_blank"
            data-toggle="tooltip" title="Sigueme en Reddit">
            <i class="fa-brands fa-reddit-alien redit-icon"></i>
            <span class="nav-link-inner--text d-lg-none">Reddit</span>
          </a>
        </li>
        <li class="nav-item d-none d-lg-block ml-lg-4" *ngIf="isNavbarVisible" (click)="onLogout()">
          <a class="login-btn btn btn-neutral btn-icon logout-btn" [routerLink]="['/']">
            <span class="nav-link-inner--text-login" i18n="@@JoinPool">Cerrar sesión</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>