<!-- <footer class="footer" [ngClass]="{'has-cards': true}">
  <div class="container">
    <div class="row row-grid align-items-center">
      <div class="col-lg-6">
        <h3 class="text-primary font-weight-light mb-2" i18n>Thank you for trusting us!</h3>
        <h4 class="mb-0 font-weight-light" i18n>Let's get in touch on any of these platforms.</h4>
      </div>
      <div class="col-lg-6 text-lg-right btn-wrapper">
        <a target="_blank" href="https://www.youtube.com/channel/UCL70j_KiPd49rfp_UEqxiyQ"
          class="btn btn-neutral btn-icon-only btn-youtube btn-round btn-lg" ngbTooltip="Watch us">
          <i class="fab fa-youtube"></i>
        </a>
        <a target="_blank" href="https://discord.gg/2URS9H7RZn"
          class="btn btn-neutral btn-icon-only btn-discord btn-round btn-lg" ngbTooltip="Chat with us">
          <i class="fab fa-discord"></i>
        </a>
        <a target="_blank" href="https://github.com/openchia"
          class="btn btn-neutral btn-icon-only btn-github btn-round btn-lg" ngbTooltip="Star on Github">
          <i class="fab fa-github"></i>
        </a>
        <a target="_blank" href="https://twitter.com/openchia"
          class="btn btn-neutral btn-icon-only btn-twitter btn-round btn-lg" ngbTooltip="Follow on Twitter">
          <i class="fab fa-twitter"></i>
        </a>
      </div>
    </div>
    <hr>
    <div class="row align-items-center justify-content-md-between">
      <div class="col-md-6">
        <div class="copyright">
          &copy; {{ currentYear | date: 'yyyy' }}
          Joseando
        </div>
      </div>
      <div class="col-md-6">
        <ul class="nav nav-footer justify-content-end">
          <li class="nav-item">
            <span class="nav-link"><a target="_blank" href="https://translation.openchia.io/projects/openchia/website/"
                i18n="@@Translation">Translation</a></span>
          </li>
          <li class="nav-item">
            <span class="nav-link"><a [routerLink]="['/faq']" i18n="@@FAQ">FAQ</a></span>
          </li>
          <li class="nav-item">
            <span class="nav-link"><a [routerLink]="['/giveaway']" i18n="@@Giveaway">Giveaway</a></span>
          </li>
          <li class="nav-item">
            <span class="nav-link"><a [routerLink]="['/terms']" i18n="@@Terms">Terms</a></span>
          </li>
          <li class="nav-item">
            <span class="nav-link"><a [routerLink]="['/partners']" i18n="@@Partners">Partners</a></span>
          </li>
          <li class="nav-item">
            <span class="nav-link"><a target="_blank" href="https://stats.uptimerobot.com/wpq3oILq1R"
                i18n="@@Uptime">Uptime</a></span>
          </li>
          <li class="nav-item">
            <span class="nav-link" i18n="@@AGPLv3License">AGPLv3 License</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer> -->
<section class="">
  <!-- Footer -->
  <footer class="bg-secondary text-white text-center text-md-start">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row">
        <div class="footer-img-container">
          <img src="../../../assets/img/brand/logo-joseando.png" class="footer-img" />
        </div>
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">Sobre nuestra comunidad</h5>
          <p class="footer-description">
            <strong>1°-</strong> 0% fee hasta conseguir el espacio estimado 25PiB.
          </p>
          <p class="footer-description">
            <strong>2°-</strong> Durante la Primera semana del POOL todos los pagos serán del doble de lo ganado.
          </p>
        </div>
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-2 mb-md-0">
          <h5 class="text-uppercase mb-0">Páginas</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!" class="text-white-footer">Home</a>
            </li>
            <li>
              <a href="#!" class="text-white-footer">Pool</a>
            </li>
            <li>
              <a href="#!" class="text-white-footer">Parciales</a>
            </li>
            <li>
              <a href="#!" class="text-white-footer">Tu espacio</a>
            </li>
            <li>
              <a href="#!" class="text-white-footer">Tus bloques</a>
            </li>
            <li>
              <a href="#!" class="text-white-footer">Pagos</a>
            </li>
            <li>
              <a href="#!" class="text-white-footer">Ganancias</a>
            </li>
            <li>
              <a href="#!" class="text-white-footer">Harversters</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3 bg-dark" style="background-color: rgba(0, 0, 0, 0.2);">
      &copy; {{ currentYear | date: 'yyyy' }}
      <a class="text-white" href="https://openchia.io/en/landing">Powered by OpenChia</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</section>